  
{% extends "base.html" %} {% block content %}

<h2>Face-Recognition</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload1" class="upload-label">
            UPLOAD NID IMAGE 
        </label>
        <div class="img-preview">
            <div id="imagePreview1"></div>
        </div>
        <input type="file" name="image1" id="imageUpload1"accept=".png, .jpg, .jpeg">
        <label for="imageUpload2" class="upload-label">
            UPLOAD SELFIE
        </label>
        <div class="img-preview">
            <div id="imagePreview2"></div>
        </div>
        <input type="file" name="image2" id="imageUpload2" accept=".png, .jpg, .jpeg">
    </form>
    <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}